name: DevOps Lint & Build Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run ShellCheck
        run: |
          sudo apt-get install -y shellcheck
          shellcheck health_check.sh

      - name: Verify Docker Build
        run: docker build -t test-image .
